.news-card {
  margin-top: 1em;
}
.news-card p {
  font-size: 0.9rem;
  color: var(--brand-color);
}

.news-content {
  padding-left: 1em;
}

.news-content h6,
p {
  font-weight: 600;
  margin-bottom: 0.2em;
}

.news-content button {
  background-color: var(--white-color); /* Green */
  border: 1px solid grey;
  border-radius: 5px;
  color: grey;
  font-size: 10px;
  margin-bottom: 0.5em;
  opacity: 0.7;
  text-align: center;
  text-decoration: none;
}

.news_item-img {
  width: 200px;
  aspect-ratio: 3/2;
}

@media screen and (max-width: 768px) {
  .news-card {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    flex-direction: column;
  }

  .news_item-img {
    width: 100%;
  }

  .news-content {
    font-size: 12px;
    padding: 1em 0 1em 1em;
  }

  .news-main {
    visibility: hidden;
  }
}
