.dashboard-left a {
  font-size: 0.9rem;
  font-weight: 600;
}
.dashboard-left h6 {
  font-size: 1.2rem;
  font-family: "Alegreya", sans-serif;
}

@media screen and (min-width: 768px) {
  .dashboard_scroll_left {
    max-height: calc(100vh - 4rem);
    overflow-y: scroll;
  }
}

.dashboard-right {
  max-height: calc(100vh - 4rem);
  overflow-y: scroll;
}

.dashboard_scroll_left::-webkit-scrollbar,
.dashboard-right::-webkit-scrollbar {
  width: 0;
}

.dashboard-right h5 {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Alegreya", sans-serif;
}


@media only screen and (max-width: 768px) {
  .dashboard-left {
    margin: auto;
  }
  .mobile_none {
    display: none;
  }
}
