@font-face {
font-family: "GlossAndBloom";
src: local("GlossAndBloom"),
 url("./../../Gloss_And_Bloom.ttf") format("truetype");
font-weight: bold;
}

@media screen and (max-width: 556px){
    footer{
        font-size: 0.8rem;
    }
}

footer{
    font-size: 0.9rem;
    height: 4rem;
}

footer span{
    font-family: 'GlossAndBloom';
    cursor: pointer;
}